.terraform.lock.hcl
.terraform/modules/modules.json
.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.71.0/windows_amd64/LICENSE.txt
.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.71.0/windows_amd64/terraform-provider-azurerm_v4.71.0_x5.exe
